<app-header></app-header>

<main>
        <ul id="users">
                <li><app-user [index]="1" (select)="onSelectionOfUser($event)" [user]="Users[0]"></app-user></li>
                <li><app-user [index]="5" (select)="onSelectionOfUser($event)" [user]="Users[1]"></app-user></li>
                <li><app-user [index]="2" (select)="onSelectionOfUser($event)" [user]="Users[2]"></app-user></li>
                <li><app-user [index]="3" (select)="onSelectionOfUser($event)" [user]="Users[3]"></app-user></li>
                <li><app-user [index]="4" (select)="onSelectionOfUser($event)" [user]="Users[4]"></app-user></li>
                <li><app-user [index]="5" (select)="onSelectionOfUser($event)" [user]="Users[5]"></app-user></li>
        </ul>
        <app-tasks [detailsOfSelectedUser]="selectedUser"></app-tasks>
</main>