@if (addTaskClicked) {
<app-add-new-task (CloseAddNewTask)="onCancelTask()" (addTask)="addTaskInDummyTasks($event)"></app-add-new-task>
}


<section id="tasks">
    <header>
        <h2>{{detailsOfSelectedUser.name}}'s Tasks</h2>
        <menu>
            <button (click)="onAddTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (item of dummyTasks; track item.userId; let i = $index) {
        @if (detailsOfSelectedUser.id === item.userId && item.active === '1') {
        <li><app-task [task]="item" (seletedTask)="onSelectionOfTask($event)"></app-task></li>
        }
        }
    </ul>
</section>